/* survey.css */
body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-check {
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    display: block;
    margin: 20px auto;
  }
  #surveyForm {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  
  .option-image {
    width: 100px; /* 画像の幅を調整 */
    height: auto;
    margin-bottom: 10px; /* 画像とテキストの間に余白を追加 */
  }
  
  .form-check-label {
    text-align: center;
    margin-bottom: 5px; /* テキストとラジオボタンの間に余白を追加 */
  }
  
  .form-check-input {
    margin-top: 5px; /* ラジオボタンの上に余白を追加 */
  }
  
  .soudan-title{
    text-align: center;
    font-weight: bold;
  }
  
  .soudan-sent{
    font-size: 20px;
    text-align: center;
  }