

    .card-container * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        text-align: center;
        text-decoration: none;
        color: inherit;
        transition: transform 0.2s, box-shadow 0.2s;
        width: 100%;
        max-width: 240px;
        margin-top: 20px;
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .card-link {
        text-decoration: none;
        color: inherit;
    }

    .card-img {
        width: 100%;
        height: auto;
    }

    .card-content {
        padding: 20px;
        font-family: sans-serif;
    }

    .card-title {
        margin-bottom: 10px;
    }
/* item-home.css */

.card-title {
    text-align: left; /* Align card titles to the left */
    font-size: 16px; /* Reduce font size */
    overflow: hidden; /* Hide overflow text */
    white-space: nowrap; /* Prevent wrapping */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    max-width: 100%; /* Adjust according to your layout */
}

    .card-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card-price {
        font-size: 1.1em;
        color: #333;
        margin: 0;
    }

    .favorite-button {
        background-color: transparent;
        border: none;
        font-size: 100px;
        color: #ccc;
        cursor: pointer;
    }

    .favorite-button.active {
        color: #f00;
    }

    .favorite-button {
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        transition: color 0.5s ease;  /* 0.5秒かけて色が変わる */
      }
      
      .favorite-button:hover {
        color: #ff69b4
      }
      