

body, html {
  height: 100%;
  margin: 0;
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 500px;
}

.p1 {
  text-align: center;
  font-size: 40px;
}

.p2 {
  color: #00d5ff;
  text-align: center;
  font-size: 20px;
}

.p3 {
  text-align: center;
  font-size: 20px;
}

.title {
  text-align: center;
  font-size: 20px;
}

button {
  text-align: center;
  padding: 10px 120px;
  border-radius: 50px;
  font: bold 25px sans-serif;
  border: rgb(2, 229, 250) 2px solid;
  background: rgb(2, 229, 250);
  color: #FFF;
}

.login-button-layout {
  margin-top: 20px;
  text-align: center;
}

.fh {
  margin-top: 10px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.example {
  text-align: center;
}

th {
  border: solid 0.5px #ffffff;
  padding: 5px;
  background-color: #ffffff;
}

img {
  border: solid 1px #ffffff;
}

.ZXx {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.g1 {
  width: 600px;
  max-width: 450px;
  height: 40px;
  margin-bottom: 10px;
}

.g4 {
  text-align: center;
  width: 450px;
  height: 200px;
}

main p {
  margin-bottom: 15px;
}

