.left{
    float: left;
    
  }
  .clear{
    clear: both;
  }
h1{
  font-size: 25px;
}
.right{
    float: right;

  }
.righ{
  /*コレ追加*/width: 30%;

}
.rih{
  
              padding: 0% 60% 
}
.box{width: 20%; border:#ffffff;}
.box1{
  width:45%;
    height:120px;
    border:#ffffff;
}
.box2{
  width: 80%;
    height:100px;
    border:#ffffff;
}
.box3{
  width: 13%;
    height:130px;
    background-color: rgb(181, 178, 176);
    border:#ffffff;
}
button{
  
  

  padding: 7px 20px;
border-radius: 25px;
  font: bold 10px sans-serif;
  text-decoration:none;
  
  border:rgb(2, 229, 250) 2px solid;
  display: block;
  margin: auto;
  background: rgb(2, 229, 250);
  color: #FFF;
}
.huj{
  color: #000000;
  margin-left:20px;
}
